.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/.Rproj.user
.Rbuildignore
/data-raw/example_data_pSILAC_SN19_A2780Cis_Nor_full.tsv
/data-raw/load_data.R
/data-raw/__test_code_KdeggeR.Rmd
inst/doc
/doc/
/Meta/
